img.portrait {
    width: 42%;
    float: right;
    margin-top: 30px;
    margin-left: 25px;
}

.postthumb {
    margin-right: 30px;
    float: left;
    width: 200px;
}

/*.navbar-custom.is-fixed .nav li a {
    color: #404040;
}*/

.supporters {
    padding-top: 20px;
}

@media (min-width: 550px) {
    .supporters {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 800px) {
    .supporters {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .supporters {
        -webkit-column-count: 3;
        /* Chrome, Safari, Opera */
        -moz-column-count: 3;
        /* Firefox */
        column-count: 3;
    }
}
